.venv/
.ipynb_checkpoints/
.vscode/
__pycache__/
data/raw/
data/processed/splits/
data/processed/models/
data/processed/feature_analysis/
*.csv
*.joblib
data\processed\models\*.joblib
data\processed\models\
data\processed\splits\*.joblib
und_data.ipynb
src\fraud_detection_models\lgbm_tune_scale_pos_weight.py
.claude/
**.ensemble_sweep.py
src\fraud_detection_models\ensemble_sweep.py